.add-button{
    background-color: #526F92;
    border-radius: 999px;
    padding: 10px 17px;
    font-size: 14px;
    color: #fff;
}

.add-button:hover{
    background-color: #465e7c;
}

.add-button:disabled{
    cursor:not-allowed;
}

.input-wrapper{
    height: 46px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    border-radius: 999px;;
    margin-bottom: 17px;
}

.input-text{
    border-radius: 999px;
    padding: 13px 20px;
}

.input-text:focus{
    outline: none;
}